<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="~{frags :: head}" />
</head>
<body class="bg-dark text-white">

	<header th:replace="~{frags :: header}"></header>
	
	
	<div class="d-flex align-items-center flex-column mb-5">
		<form class="my-form text-secondary mb-5 fw-semibold" th:object="${specialOffer}" method="POST">
			<h4 th:if="${specialOffer.id > 0}" class="text-center text-danger py-3">Modifica l'Offerta Speciale</h4>
			<h4 th:unless="${specialOffer.id > 0}" class="text-center text-danger py-3">Aggiungi una nuova Offerta Speciale</h4>
				<input type="text" name="pizza" th:field="*{pizza}" hidden>
			  	<div class="mb-3">
				  	<label for="title" class="form-label">Titolo</label>
			  		<input type="text" class="form-control" id="title" title="title" th:field="*{title}">
			 		<div th:if="${#fields.hasErrors('title')}">
						<ul class="mt-2">
					   		<li th:each="err : ${#fields.errors('title')}" th:text="${err}" class="fw-normal text-danger"></li>
						</ul>
					</div>
				</div>
					<div class="mb-3">
				  	<label for="startDate" class="form-label">Data Inizio</label>
			  		<input type="date" class="form-control" id="startDate" title="startDate" th:field="*{htmlStartDate}">
			 		<div th:if="${#fields.hasErrors('startDate')}">
						<ul class="mt-2">
					   		<li th:each="err : ${#fields.errors('startDate')}" th:text="${err}" class="fw-normal text-danger"></li>
						</ul>
					</div>
				</div>
					<div class="mb-3">
				  	<label for="endDate" class="form-label">Data Fine</label>
			  		<input type="date" class="form-control" id="endDate" title="endDate" th:field="*{htmlEndDate}">
			 		<div th:if="${#fields.hasErrors('endDate')}">
						<ul class="mt-2">
					   		<li th:each="err : ${#fields.errors('endDate')}" th:text="${err}" class="fw-normal text-danger"></li>
						</ul>
					</div>
				</div>
				
			  <div class="d-flex justify-content-end">
			 	 <button type="submit" class="btn btn-danger"><i class="fa-solid fa-floppy-disk"></i></button>
			  </div>
		</form>
		
		<a th:href="@{/pizzas/{id}(id=${pizzaId})}" class="btn btn-danger">Torna alla pizza</a>
	</div>

</body>
</html>